<h1>Welcome to Our Gazelle</h1>

<p>
  Hey <%= @user.email %>, thank you for join Gazelle! We look forward to seeing you around.
</p>
<br/>
<h3>Make sure to Check Out Everything We Have To Offer</h3>
<br/>
<p> We have a wide variety of <a href="https://gazelle-tools.herokuapp.com/tools/index" class="btn btn-primary" >tools</a> to help your website gain traction.
</p>
<br/>
<p>Gazelle was create to make the process of ranking on a search engine easy and intuitive. Take advantage of everything we offer.</p>
<br/>
<p>Thanks for creating an account!</p>