<%= stylesheet_link_tag "about_page.css" %>
<section class="py-6 py-md-11">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Headin -->
            <h1 class="display-2">
              Our Goal. Your Business.
            </h1>

            <!-- Text -->
            <p class="lead text-muted mb-7 mb-md-9">
              Gazelle's goal is to help you grow your business. We're here to help you gain access to the proper tools to grow online traffic to your business.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">

            <!-- Image -->
            <div class="row gx-4">
              <div class="col-4">

                <img class="img-fluid rounded shadow-lg" width="400" src="/assets/about_page/table_planning.png" alt="table planning">

              </div>
              <div class="col-3">

                <img class="img-fluid rounded shadow-lg mb-4" width="265" src="/assets/about_page/project_planning.png" alt="project planning">

                <img class="img-fluid rounded shadow-lg" width="265" src="/assets/about_page/group_computer.png" alt="group computer">

              </div>
              <div class="col-5">

                <div class="row gx-5 mb-4">
                  <div class="col-5">

                    <img class="img-fluid rounded shadow-lg" src="/assets/about_page/group_explaining.png" alt="group explaining">

                  </div>
                  <div class="col-7">

                    <img class="img-fluid rounded shadow-lg" src="/assets/about_page/computer_work.png" alt="computer work">

                  </div>
                </div> <!-- / .row -->

                <img class="img-fluid rounded shadow-lg" src="/assets/about_page/group_planning.png" alt="group planning">

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
</section>  
<div class="spacer blue-wave-top"></div>
    <section class="py-8 py-md-11 bg-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            <div class="card text-center border-0 bg-dark">
              <div class="card-body">
                <!-- Badge -->
                <span class="badge rounded-pill bg-gray-700-soft mb-4">
                  <span class="h6 fw-bold text-uppercase">Our Goal</span>
                </span>

                <!-- Heading -->
                <h1 class="display-4 text-white">
                  Provide You The Best SEO Tools
                </h1>

                <!-- Text -->
                <p class="fs-lg text-muted mb-6 mb-md-8">
                  Our mission is to help you grow your business to be sustanable and sucessful. With our online tools, we know that your business has the potential to attact more customers to your website. 
                  Whether it is researching your competition, developing keywords to rank with google, or finding advanced anaylitics on webpages, Gazelle will let you grow your online buisness to the next level.
                </p>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
<div class="spacer blue-wave-bottom"></div>