<%= stylesheet_link_tag "about_page.css" %>
<section>
    <div class="container py-5">
        <div class="card text-center border-0">
            <div class="card-body mb-4">
                <h5 class="card-title display-2">Contact Us</h5>
                <p class="card-text lead text-muted">Send an email to our customer support team to help resolve any questions you may have. We are wanting to help you!</p>
                <a href="/tools/index" class="btn btn-primary p-3">
                  Contact <%= bootstrap_icon "envelope", fill: "#ffffff" %></i>
                </a>
            </div>
        </div>
        <img src="/assets/contact_us.png" width="800" class="rounded mx-auto d-block" alt="customer support">
    </div>
</section>