.lift {
    transition: box-shadow .25s ease,transform .25s ease;
    transition-property: box-shadow, transform;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}
.lift:hover {
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05)!important;
    transform: translateY(-1rem)!important;
}
.shadow-light-lg{
    box-shadow:0 1.5rem 4rem rgba(22,28,45,0.05) !important
}
.shadow{box-shadow:0 0.5rem 1.5rem rgba(22,28,45,0.1) !important}
.shadow-lift{
    box-shadow:0 1rem 2.5rem rgba(22,28,45,0.1),0 0.5rem 1rem -0.75rem rgba(22,28,45,0.1)
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1 {
    background-image: url('assets/svg/blue-wave.svg');
}
.white-wave{
    background-image: url('assets/svg/white-wave.svg');
}
.blue-background {
    background-image: linear-gradient(#25deff, white);
}
